
.poem-container{
    
    
    height: 650px;
    padding: 200px 0 0 0;
    padding: 50px;
    margin: auto;
    
    

    text-align: left;
    font-family:sans-serif;
    color:burlywood;
    
    text-align-last: left;
    }

  .poem1{
    margin: auto;
    
    font-size: 15px;
  }
  .poem-1{
    background: url("/img/poem1.jpg") 80% 0 no-repeat fixed;
    
  }